<html>
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta name="viewport" content="width=device-width"><meta name="charset" content="utf-8">
                <title></title>
            </head>
            <body>
                <table align="center" border="0" cellpadding="0" cellspacing="0" id="external_wrapper" style="width:100%;background-color:#e5e5e5;">
                    <tbody>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" id="email_wrapper" style="margin:0px auto;width:640px;background-color:#e5e5e5;">
                                    <tbody>
                                        <tr>
                                            <td height="20">
                                                <table border="0" cellpadding="0" cellspacing="0" id="emailTop" style="width:640px;">
                                                    <tbody>
                                                        <tr>
                                                            <td height="5" style="text-align:justify;" width="500">&nbsp;</td>
                                                            <td style="text-align:justify;">&nbsp;</td>
                                                            <td style="text-align:justify;" width="20">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:640px;background-color:#ffffff;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-align: center;"><img alt="logo" src="{sdt_logo}" style="width:auto;max-height:80px;display:block;margin:30px auto;text-align:justify;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="0" cellspacing="0" style="width:640px;text-align:left;padding-top:0px;background-color:#ffffff;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table cellpadding="0" cellspacing="0" id="stackmail_stack">
                                                                                    <tbody class="ui-droppable ui-sortable">
                                                                                        <tr id="stackmail_block8f0c9077-e5f9-5aa0-f6bf-90a3478fee83">
                                                                                            <td style="padding:10px;">
                                                                                                <table cellpadding="0" cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <table border="0" cellpadding="0" cellspacing="0" class="stk_row_full_txt" style="width:620px;">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="padding:10px 10px 10px 10px;vertical-align:top;" width="600">
                                                                                                                                <div style="width:600px;">
                                                                                                                                    <div class="editable richtext" style="font-family:sans-serif;font-size:14px;line-height:21px;margin:0px;color:#444; font-size: 16px;">
                                                                                                                                        {sdt_message}
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </body>
</html>